@tailwind base;
@tailwind components;
@tailwind utilities;
 

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-ExtraLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --tw-color-primary: #CEF440; /* Définir la couleur primaire */
}

@layer base {
  html {
    font-family: 'ClashDisplay', system-ui, sans-serif;
    font-weight: 500; /* Poids par défaut */
  }
}


.bg-radial-primary {
  background: radial-gradient(circle, #CEF44040, transparent);
  opacity: 0.3; /* Ajuste l'opacité selon tes besoins */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
body{
  font-family: 'ClashDisplay'!important;
}
html{
  font-family: 'ClashDisplay'!important;
}
.font-cd{
    font-family: 'ClashDisplay';

}

.font-CD-extralight {
  font-family: 'ClashDisplay';
  font-weight: 300;
}

.font-CD-light {
  font-family: 'ClashDisplay';
  font-weight: 400;
}

.font-CD-regular {
  font-family: 'ClashDisplay';
  font-weight: 500;
}

.font-CD-medium {
  font-family: 'ClashDisplay';
  font-weight: 600;
}

.font-CD-semibold {
  font-family: 'ClashDisplay';
  font-weight: 700;
}

.font-CD-bold {
  font-family: 'ClashDisplay';
  font-weight: 800;
}


body{
  background-color: #151516;
}
.gradient-bg{
    background: linear-gradient(45deg, #CEF440, #7761B7, #CEF440, #7761B7, #CEF440, #7761B7);
        background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}

input{
  border-radius: 200px;
}

.slow-spin {
  animation: spin 3s linear infinite; /* 3 secondes de durée pour un tour complet */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.h-screened{
  height: calc(100vh - 6rem);
}
 .anim-blackpurple-bg {
      
 }
 .anim-blackpurple-bg:hover {
      background: linear-gradient(45deg, #151516, #ba6bff4a,#151516, #ba6bff4a, #151516, #ba6bff4a);
        background-size: 500% 500%;
    animation: Gradient 10s ease infinite;
    background-color: #151516;
 }
 .anim-gray-bg {
      background: linear-gradient(45deg, #D5D5D580, #D5D5D520, #D5D5D580, #D5D5D520, #D5D5D580, #D5D5D520);
        background-size: 400% 400%;
    animation: Gradient 25s ease infinite;
 }

  .anim-graylight-bg {
      background: linear-gradient(45deg, #D5D5D540, #D5D5D510, #D5D5D540, #D5D5D510, #D5D5D540, #D5D5D520);
        background-size: 400% 400%;
    animation: Gradient 25s ease infinite;
 }
.anim-dark-bg {
      background: linear-gradient(45deg, #15151660, #15151620, #15151660, #15151620, #15151660, #15151620);
        background-size: 400% 400%;
    animation: Gradient 25s ease infinite;
 }
  .anim-black-bg {
      background: linear-gradient(90deg, #15151605, #15151620, #15151605, #15151620, #15151605, #15151620);
        background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
 }

 .shadow-white{
  box-shadow: 0px 0px 40px 0px #ffffff;
 }

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes scroll-right {
  from { transform: translateX(0); }
  to { transform: translateX(-1000px); }
}

@keyframes scroll-left {
  from { transform: translateX(-1000px); }
  to { transform: translateX(0); }
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}


@layer utilities {
  .backdrop-blur-transition {
    @apply transition-all duration-500 ease-in-out;
    backdrop-filter: var(--blur-value, blur(0px));
  }

  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }

  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  html::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

.smart-title {
  font-size: clamp(3rem, 3vw + 2rem, 9rem);
  line-height: 1;

}




.center-gradient{
  background: transparent;
}
.center-gradient:hover{
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 10.08%, rgba(255, 255, 255, 0.05) 89.27%, rgba(255, 255, 255, 0.00) 100%) ;
}

.center-gradient-collapse{
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.05) 10.08%, rgba(255, 255, 255, 0.05) 89.27%, rgba(255, 255, 255, 0.00) 100%) ;

}
