@tailwind base;
@tailwind components;
@tailwind utilities;
 


body{
  background-color: #151516;
}
.gradient-bg{
    background: linear-gradient(45deg, #CEF440, #7761B7, #CEF440, #7761B7, #CEF440, #7761B7);
        background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}

input{
  border-radius: 200px;
}

.h-screened{
  height: calc(100vh - 6rem);
}

 .anim-gray-bg {
      background: linear-gradient(45deg, #D5D5D580, #D5D5D520, #D5D5D580, #D5D5D520, #D5D5D580, #D5D5D520);
        background-size: 400% 400%;
    animation: Gradient 25s ease infinite;
 }

  .anim-black-bg {
      background: linear-gradient(90deg, #15151605, #15151620, #15151605, #15151620, #15151605, #15151620);
        background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
 }

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes scroll-right {
  from { transform: translateX(0); }
  to { transform: translateX(-1000px); }
}

@keyframes scroll-left {
  from { transform: translateX(-1000px); }
  to { transform: translateX(0); }
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}


@layer utilities {
  .backdrop-blur-transition {
    @apply transition-all duration-500 ease-in-out;
    backdrop-filter: var(--blur-value, blur(0px));
  }

  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

.smart-title {
  font-size: clamp(3rem, 3vw + 2rem, 9rem);
  line-height: 1;

}



